.btn {
  width: auto;
  margin: 0.5rem 0;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  display: inline-block;
  background-color: #fff;
  color: var(--text-color);
  cursor: pointer;
  box-shadow: 1px 2px var(--bg-color);
}

.btnPrimary {
  color: #ffffff;
  background-color: var(--secondary-color);
  box-shadow: 1px 2px var(--secondary-color);
}

.btnSmall {
  padding: 0.8rem !important;
}

.btnBlock {
  width: 100%;
}
