.headerContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0.4rem 0;
}

.headerItem {
  flex: 1 1 33.33333%;
  height: 100%;
}


.headerItemOne{
  flex-basis: 20%;
}

.headerItemTwo {
  flex-basis: 60%;
}

.headerItemThree {
  flex-basis: 20%;
  text-align: center;
}

.logo {
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  padding: 0.5rem 0.6rem;
  box-shadow: 1px 2px #f2f2f2;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
}
