.headerContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.5rem 1rem;
}

.headerItemOne {
  flex-basis: 20%;
}

.headerItemTwo {
  flex-basis: 60%;
}

.headerItemThree {
  flex-basis: 20%;
  text-align: center;
}

.logo {
  max-width: 100%;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.subTitle {
  display: none;
}

.menubarIcon {
  display: block;
}

.navbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .headerContainer {
    background-color: var(--primary-color);
    padding: 2.5rem;
  }
  .headerItemOne {
    flex-basis: 72px;
  }
  .headerItemTwo {
    flex-basis: 30%;
  }
  .headerItemThree {
    flex-basis: calc(100%-30%+72px);
  }
  .title {
    font-size: 1.2rem;
  }
  .subTitle {
    display: block;
    font-size: 0.8rem;
    color: var(--light-gray);
  }
  .menubarIcon {
    display: none;
  }
  .navbar {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
  }
  .navItem {
    display: inline-block;
    margin: 0 0.5rem;
  }
  .navLink {
    text-decoration: none;
    color: var(--text-color);
  }
}
